<div class="ui three column centered grid">
    <div class="column"></div>
    <div class="column">
        <h1>Данные посещений</h1>
        <ul class="ui list">
            {{#each counter}}
                <li>{{{url}}} - {{n}}</li>
            {{/each}}
        </ul>
    </div>
    <div class="column"></div>
</div>