body
{
    text-align: center;
}

.arrow-wrap
{
    margin: 10%;
    text-align: center;
}

main > .pure-g > .pure-u-1 > img,
main > .pure-g > .pure-u-1 > .arrow-wrap
{
    cursor: pointer;
}

.l-box
{
    padding: 1em;
}

.pure-g > div[class *="pure-u"] > .l-box:hover > img
{
    opacity: 0.8;
    cursor: pointer;
}

.blanket
{
    background-color: rgba(0, 0, 0, .5);
    font-size: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    cursor: pointer;
}

.module-screen
{
    display: table-cell;
    vertical-align: middle;
    background-color: #ffffff;
}

.popup-screen
{
    position: absolute;
    width: 50%;
    max-height: 500px;
    left: 0;
    right: 0;
    top: 0;
    z-index: 3;
    display: block;
    margin: 0 auto;
}

.popup-image
{
    max-height: 300px;
    text-align: center;
    background-color: #b3b3b3;
}

.popup-comments
{
    /*height: 300px;*/
    padding: 5px;
    background-color: #fff;
}

.error-msg
{
    padding: 15px;
    border-radius: 4px;
    color: #a94442;
    background-color: #f2dede;
    border: 1px solid #ebccd1;
}

.comment-msg
{
    background-color: #f8f8f8;
    border-radius: 4px;
    min-height: 50px;
    border: 1px solid transparent;
    margin: 10px;
    padding: 10px;
    text-align: left;
}

.comment-input
{
    padding: 10px;
}

.my-pure-img
{
    max-width: 100%;
    height: auto;
    max-height: 300px;
    display: inline-block;
}

.big-pic
{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

.big-pic > img
{
    max-width: 100%;
    max-height: 100%;
}

.info
{
    position:absolute;
    z-index: 9002;
    top: 0;
    left: 0;
    margin-left: 35%;
    margin-top: 15%;
    background-color: #eaeaea;
    width: 350px;
    height: 200px;
    padding: 10px;
    display: none;
}

#fav-cat
{
    display: none;
}

/*@media (min-width: 48em)*/
/*{*/
    /*.l-box-lrg*/
    /*{*/
        /*margin: 0 auto;*/
    /*}*/
/*}*/

/*@media (min-width: 64em)*/
/*{*/
    /*.l-box-lrg*/
    /*{*/
        /*margin-top: 30vh;*/
        /*margin-bottom: 20vh;*/
    /*}*/
/*}*/
